<button
  type="button"
  class="page-thumbnail"
  [class.page-thumbnail--selected]="selected"
  [class.page-thumbnail--comfortable]="viewMode === 'comfortable'"
  [class.page-thumbnail--compact]="viewMode === 'compact'"
  [class.page-thumbnail--grid]="viewMode === 'grid'"
  [class.page-thumbnail--blank]="blank"
  [attr.aria-current]="selected ? 'page' : null"
  [attr.aria-label]="'Page ' + displayPageNumber"
  (click)="onSelect()">

  <div class="page-thumbnail__preview">

    @if (blank) {

      <div
        class="page-thumbnail__blank"
        aria-hidden="true">

        <span class="page-thumbnail__blank-sheet"></span>

        <span class="page-thumbnail__blank-label">
          Blank page
        </span>

      </div>

    } @else {

      <canvas
        #canvas
        class="page-thumbnail__canvas"
        aria-hidden="true">
      </canvas>

    }


    @if (loading && !blank) {

      <div
        class="page-thumbnail__loading"
        aria-hidden="true">

        <span></span>

      </div>

    }


    @if (failed && !blank) {

      <div
        class="page-thumbnail__error">

        <span>
          Preview unavailable
        </span>

        <small>
          Page {{ displayPageNumber }}
        </small>

      </div>

    }

  </div>


  <div class="page-thumbnail__footer">

    <span class="page-thumbnail__number">
      {{ displayPageNumber }}
    </span>

  </div>

</button>
